.child {
	background: yellowgreen;
	margin: 10px 0;
}
.parent {
	max-width: 500px;
	column-count: 2;
  	column-gap: 20px;	
}

header {
	column-span: all;	
}

nav {
	column-span: all;
}

main {
	break-inside: avoid;
	background: yellowgreen;
	height: 400px;
}

article {
	background-color: yellow;
	margin: 10px;
	height: 150px;
}

aside {
	height: 400px;
	background: yellowgreen;
	break-inside: avoid;
}

footer {
	column-span: all;
}